/*.animation-method-zoom-in {*/
/*}*/


.menu {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    transition: transform 0.5s ease-out, opacity 0.5s ease-in;
    transform-origin: center center; /* Ensures scaling from the center */
    /*opacity: 1;*/
    /*transform: scale(1);*/
    /*}*/
}

.menuOpen {
    opacity: 1;
    transform: translateX(0); /* Start off-screen to the right */
}

.menuClose {
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
}

